{% extends "base.html" %}
{% block title %} <title>測試 - workorder</title> {% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{page_title}}</li>
</ol>
{% endblock %}
{% block main_content %}
<div class="row">
  <div class="col-md-9 col-md-push-3">
    <blockquote class="blockquote-reverse">
		<h6><strong>{{page_title}}</strong></h6>
		<h6><i>{{description}}</i></h6>    	
	</blockquote>
  </div>
</div>
<div class="col-md-0 col-md-push-0">
	{% if form.errors %}
        <p style="color:red;">
            請修正下列錯誤 {{ form.error|pluralize }}
        </p>
	{% endif %}	

	<h1>{{subtitle}}</h1>
	<form method="POST" class="post-form">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <!--{{ form.as_table }}-->
	  <button type="submit" class="save btn btn-primary m-r-5 m-b-5">送出</button>
	</form>
</div>
<br/>
{% endblock %}